@use "colors";

.leaves-background {
  position: absolute;
  width: 100%;
  padding-top: 30rem;
  z-index: -10;
  top: 3000px;

  &:first-of-type {
    top: 0;
  }
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  box-sizing: border-box;

  .logo {
    margin: 70px 0;
    width: 100%;
    max-width: 1100px;
    height: auto;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;

    h1 {
      color: colors.$clr-orange;
      font-size: 110px;
      font-weight: normal;
    }
  }

  .section-services {
    width: inherit;

    .two-in-row {
      display: flex;
      justify-content: space-around;

      .space {
        width: 250px;
      }
    }
  }

  .section-gallery {
    width: -webkit-fill-available;
  }

}


@media (max-width: 1500px) {
  section {
  }
}


@media (max-width: 1200px) {
  .logo {
    margin-bottom: 0 !important;
  }


  .section-services {
    .text-box {
      flex-direction: column-reverse;
    }

    .two-in-row {
      flex-direction: column;
      text-align: start;

      h1 {
        align-self: flex-start;
      }

      .text-box {
        flex-direction: column;

        .image-wrapper {
          order: 3;
        }
      }

      .space {
        display: none;
      }
    }

  }

  .section-gallery {
    margin-top: 80px;
  }
}

@media (max-width: 800px) {
  .section-services {

    h1 {
      font-size: 60px;
    }
  }

  .section-contact-us {

    h1 {
      font-size: 60px;
    }
  }
}

@media (max-width: 400px) {
  .section-services {

    h1 {
      font-size: 45px;
    }
  }

  .section-contact-us {

    h1 {
      font-size: 45px;
    }
  }
}