@use "colors";


.MuiFormLabel-root {
  color: colors.$clr-cream !important;
}

.MuiInputBase-input {
  color: colors.$clr-orange !important;
}

.MuiInput-underline:before {
  border-bottom-color: colors.$clr-cream !important;
}

.MuiInput-underline:after {
  border-bottom-color: colors.$clr-cream !important;
}

.contact-us-wrapper {
  margin: 50px 0;
  display: flex;

  .contact-us-card {
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 40px 30px;
    align-items: center;
    border-radius: 25px;
    background-color: colors.$clr-lightblue;
    margin: 0 40px;

    p {
      margin: 25px 0;
      text-align: center;
      font-size: 22px;
    }

    h2 {
      font-size: 33px;
      color: colors.$clr-cream;
    }

    button {
      background-color: transparent;
      color: colors.$clr-cream;
      border: 2px solid colors.$clr-cream;
      margin-top: 20px;

      &:hover {
        background-color: colors.$clr-blue;
      }
    }
  }

  form {

    .text-field {
      margin: 10px;
    }
  }

  .contact-us-location {
    .location-photo {
      width: 85%;
      height: 160px;
      margin-top: 20px;
      border: 2px solid colors.$clr-cream;
      border-radius: 15px;
    }
  }
}

